@using Data.Models
@using Newtonsoft.Json
@model List<ProjectViews.Areas.User.Models.ShoeCategory>
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}
<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="categories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a>
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Single Product</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="single_product_pics">
                <div class="row">
                    <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                        <div class="single_product_thumbnails">
                            @{
                                var id = new Guid();
                            }
                            @foreach (var item in Model)
                            {
                                <ul>
                                    <li>
                                        <img src="~/UserAsssets/images/@item.ImageSource" alt="" data-image="~/UserAsssets/images/@item.ImageSource">
                                        @{
                                            id = item.Id;
                                        }
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                    <div class="col-lg-9 image_col order-lg-2 order-1">
                        <div class="single_product_image">
                            <img class="single_product_image_background" src="~/UserAsssets/images/@Model.Find(p=>p.Id == id ).ImageSource" alt="Loi">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product_details">
                <div class="product_details_title">
                    @{
                        var shoes = Model[0];
                        double oprice = shoes.SellPrice - shoes.SellPrice * shoes.DiscountValue / 100;
                    }
                    <h2>@shoes.Name</h2>
                    <p>@shoes.Decriptions1</p>
                </div>
                <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                    <span class="ti-truck"></span><span>free delivery</span>
                </div>
                <div class="original_price">$@shoes.SellPrice</div>
                <div class="product_price">$@oprice</div>
                <ul class="star_rating">
                    @for (var i = 0; i < shoes.RateStar[0]; i++)
                    {
                        <li>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                    }
                    @for (var i = 0; i < 5 - shoes.RateStar[0]; i++)
                    {
                        <li>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </li>
                    }
                </ul>
                <div class="">
                    <p>Select Color: </p>
                    @{
                        var listColor = new List<string>();
                        foreach (var item in Model)
                        {
                            listColor.Add(item.ColorValue);
                        }
                        var listSize = new List<float>();
                        foreach (var item in Model)
                        {
                            listSize.Add(item.SizeValue);
                        }
                    }
                    <form method="post" asp-action="GetAvailableQuantity">
                        <ul class="nav" id="myTab" role="tablist">
                            @foreach (var item in listColor.Distinct())
                            {
                                <input name="color" class="nav-link color-option" style="height: 30px; width: 30px; margin-right: 10px; margin-bottom: 10px; background-color: @item; border-radius: 50%;" value="@item">
                            }
                        </ul>

                        <p>Select Size: </p>
                        <ul class="nav nav-content mb-2">
                            @foreach (var item in listSize.Distinct())
                            {
                                <input name="size" class="input-group size-option" value="@item" type="submit">
                            }
                        </ul>
                    </form>
                    <style>
                      .selected-color {
                        border: 3px solid teal;
                      }
                      .selected-size {
                        color: red;
                      }
                    </style>

                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script>
                      $(document).ready(function() {
                        $('.color-option').click(function() {
                          $('.color-option').removeClass('selected-color');
                          $(this).addClass('selected-color');
                        });

                        $('.size-option').click(function() {
                          $('.size-option').removeClass('selected-size');
                          $(this).addClass('selected-size');
                        });
                      });
                    </script>
                    <span class="text-uppercase mt-2">Size :</span> <a asp-action="GetPdf" class=" text-danger">How to choose a size</a>
                    <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                        <span>Quantity:</span>
                        <div class="quantity_selector">
                            <span class="minus">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </span>
                            <span id="quantity_value">1</span>
                            <span class="plus">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
                    </div>
                     @*@{
                      var shoeDetailsGetByViewbag =   ViewBag.shoeDetailsGetByIdColorAndSize as ShoeDetails;
                     }
                    @if (shoeDetailsGetByViewbag.Status ==1 && shoeDetailsGetByViewbag.AvailableQuantity>=0)
                    {
                        <p class="text-danger">Status : Active </p>
                        <p class="text-success">Available @shoeDetailsGetByViewbag.AvailableQuantity</p>
                    }
                    else if (shoeDetailsGetByViewbag ==null)
                    {
                        <p>Object null</p>
                    }*@
                    <div class="red_button btn mt-3 ">
                        <a>add to cart</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- Tabs -->

<div class="tabs_section_container">

<div class="container">
<div class="row">
    <div class="col">
        <div class="tabs_container">
            <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                <li class="tab active" data-active-tab="tab_1">
                    <span>Description</span>
                </li>
                <li class="tab" data-active-tab="tab_2">
                    <span>Additional Information</span>
                </li>
                <li class="tab" data-active-tab="tab_3">
                    <span>Reviews (2)</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">

        <!-- Tab Description -->
        @{
            var listDecription1 = shoes.Decriptions1;
            var listDecription2 = shoes.Decriptions2;
            var listDecription3 = shoes.Decriptions3;
            var soureImage = new List<string>();
            foreach (var item in Model)
            {
                soureImage.Add(item.ImageSource);
            }
        }
        <div id="tab_1" class="tab_container active">
            <div class="row">
                <div class="col-lg-5 desc_col">
                    <div class="tab_title">
                        <h4>Description</h4>
                    </div>
                    <div class="tab_text_block">
                        <h2>Pocket cotton sweatshirt</h2>
                        <p>@listDecription1</p>
                    </div>
                    <div class="tab_image">
                        @if (soureImage[0] != null)
                        {
                            <img src="~/UserAsssets/images/@soureImage[0]" alt="">
                        }else
                        {
                            <img src="" alt="Not Found">
                        }
                    </div>
                    <div class="tab_text_block">
                        <h2>Pocket cotton sweatshirt</h2>
                        <p>@listDecription2</p>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2 desc_col">
                    <div class="tab_image">
                        @if (soureImage[1]!=null)
                        {
                            <img src="~/UserAsssets/images/@soureImage[1]" alt="">
                        }else
                        {
                            <img src="" alt="Not Found">
                        }
                    </div>
                    <div class="tab_text_block">
                        <h2>Pocket cotton sweatshirt</h2>
                        <p>@listDecription3</p>
                    </div>
                    <div class="tab_image desc_last">
                        @if (soureImage[2]!=null)
                        {
                            <img src="~/UserAsssets/images/@soureImage[2]" alt="">
                        }else
                        {
                              <img src="" alt="Not Found">
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- Tab Additional Info -->

        <div id="tab_2" class="tab_container">
            <div class="row">
                <div class="col additional_info_col">
                    <div class="tab_title additional_info_title">
                        <h4>Additional Information</h4>
                    </div>
                    <p>
                        COLOR:
                        @foreach (var item in listColor.Distinct())
                        {
                            <span style="color: @item"> @item, </span>
                        }
                    </p>
                    <p>
                        SIZE:
                        @foreach (var item in listSize.Distinct())
                        {
                            <span>@item, </span>
                        }
                    </p>
                </div>
            </div>
        </div>

        <!-- Tab Reviews -->

        <div id="tab_3" class="tab_container">
            <div class="row">

                <!-- User Reviews -->

                <div class="col-lg-6 reviews_col">
                    <div class="tab_title reviews_title">
                        <h4>Reviews (2)</h4>
                    </div>
                    @{
                        var _httpClient = new HttpClient();
                        //get list review from viewbag
                        var listFdback = ViewBag.Feedbacks as List<Feedbacks>;
                        var apiUrl = "https://localhost:7109/api/User/get-all-user";
                        var response = await _httpClient.GetAsync(apiUrl);
                        var apidata = await response.Content.ReadAsStringAsync();
                        var users = JsonConvert.DeserializeObject<List<Users>>(apidata);
                    }
                    @if (listFdback.Count() == 0)
                    {
                        <h1>There are no reviews yet.</h1>
                    }
                    else
                    {
                        <!-- User Review -->
                        @foreach (var item in listFdback)
                        {
                            <div class="user_review_container d-flex flex-column flex-sm-row">
                                <div class="user">
                                    <div class="user_pic"></div>
                                    <div class="user_rating">
                                        <ul class="star_rating">
                                            @for (var i = 0; i < item.RatingStar; i++)
                                            {
                                                <li>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </li>
                                            }
                                            @for (var i = 0; i < 5 - item.RatingStar; i++)
                                            {
                                                <li>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                @{
                                    var userName = users.FirstOrDefault(p => p.Id == item.IdUser).Fullname;
                                }
                                <div class="review">
                                    <div class="review_date">27 Aug 2016</div>
                                    <div class="user_name">@userName</div>
                                    <p>@item.Note</p>
                                </div>
                            </div>
                        }
                    }
                    <!-- User Review -->

                    <div class="col-lg-6 add_review_col">

                        <div class="add_review">
                            <form id="review_form" action="post">
                                <div>
                                    <h1>Add Review</h1>
                                    <input id="review_name" class="form_input input_name" type="text" name="name" placeholder="Name*" required="required" data-error="Name is required.">
                                    <input id="review_email" class="form_input input_email" type="email" name="email" placeholder="Email*" required="required" data-error="Valid email is required.">
                                </div>
                                <div>
                                    <h1>Your Rating:</h1>
                                    <ul class="user_star_rating">
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <textarea id="review_message" class="input_review" name="message"  placeholder="Your Review" rows="4" required data-error="Please, leave us a review."></textarea>
                                </div>
                                <div class="text-left text-sm-right">
                                    <button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>