@using Data.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@model Data.Models.ShoeDetails

@{
    ViewData["Title"] = "Edit";
    HttpClient _httpClient = new HttpClient();
    string apiUrls = $"https://localhost:7109/api/ShoeDetails/get-all-shoeDetails";
    var responses = await _httpClient.GetAsync(apiUrls); // goi api lay data
    string apiDatas = await responses.Content.ReadAsStringAsync(); // doc data tra ve
    var shoeDetails = JsonConvert.DeserializeObject<List<ShoeDetails>>(apiDatas);
    //lay dữ liệu color từ bảng Color
    string apiUrlcolr = $"https://localhost:7109/api/Color/get-all-colors";
    var responsecolr = await _httpClient.GetAsync(apiUrlcolr);
    string apiDatacolr = await responsecolr.Content.ReadAsStringAsync();
    var colors = JsonConvert.DeserializeObject<List<Colors>>(apiDatacolr);
    //lay dữ liệu size từ bảng Size
    string apiUrlsize = $"https://localhost:7109/api/Size/get-all-size";
    var responsesize = await _httpClient.GetAsync(apiUrlsize);
    string apiDatasize = await responsesize.Content.ReadAsStringAsync();
    var sizes = JsonConvert.DeserializeObject<List<Sizes>>(apiDatasize);
    //lay du lieu tu bang Brand
    string apiUrlbrand = $"https://localhost:7109/api/Brand/get-all-brands";
    var responsebrand = await _httpClient.PostAsync(apiUrlbrand, null);
    string apiDatabrand = await responsebrand.Content.ReadAsStringAsync();
    var brands = JsonConvert.DeserializeObject<List<Brands>>(apiDatabrand);
    //lay du lieu tu bang size_shoeDetail
    string apiUrlsize_shoeDetail = $"https://localhost:7109/api/SIzes_ShoeDetails/get-all-size-shoe-details";
    var responsesize_shoeDetail = await _httpClient.GetAsync(apiUrlsize_shoeDetail);
    string apiDatasize_shoeDetail = await responsesize_shoeDetail.Content.ReadAsStringAsync();
    var size_shoeDetails = JsonConvert.DeserializeObject<List<Sizes_ShoeDetails>>(apiDatasize_shoeDetail);
    //lay du lieu tu bang color_shoeDetail
    string apiUrlcolor_shoeDetail = $"https://localhost:7109/api/Color_ShoeDetails/get-all-color_shoeDetails";
    var apiDatacolor_shoeDetail = await _httpClient.GetAsync(apiUrlcolor_shoeDetail);
    string apiColorShoesDetails = await apiDatacolor_shoeDetail.Content.ReadAsStringAsync();
    var color_shoeDetails = JsonConvert.DeserializeObject<List<Color_ShoeDetails>>(apiColorShoesDetails);
}

<h1>Edit</h1>

<h4>ShoeDetails</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-3">
                    <input type="hidden" asp-for="Id" class="form-control"></input>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdCategory" class="control-label">Supplier </label>
                    @{
                        //lay du lieu tu bang Supplier
                        string apiUrl1 = "https://localhost:7109/api/Suppliers/get-all-supplier";
                        var response1 = await _httpClient.GetAsync(apiUrl1);
                        string apidata1 = await response1.Content.ReadAsStringAsync();
                        var sp = JsonConvert.DeserializeObject<List<Supplier>>(apidata1);
                        //load du lieu vao dropdownlist
                        <select asp-for="IdSupplier" class="form-select">
                            <option selected>Select Supplier</option>
                            @foreach (var item in sp)
                            {
                                <option value="@item.Id">@item.Address</option>
                            }
                        </select>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="IdCategory" class="control-label">Category</label>
                    @{
                        // lay du lieu tu bang Category
                        string apiUrl = $"https://localhost:7109/api/Categories/get-all-categories";
                        var response = await _httpClient.GetAsync(apiUrl);
                        string apidata = await response.Content.ReadAsStringAsync();
                        var cat = JsonConvert.DeserializeObject<List<Categories>>(apidata);
                        //load du lieu vao dropdownlist
                        <select asp-for="IdCategory" class="form-select">
                            <option selected>Select Category</option>
                            @foreach (var item in cat)
                            {
                                <option value="@item.Id">@item.CategoryName</option>
                            }
                        </select>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="IdBrand" class="control-label">Brands</label>
                    @{
                        //lay du lieu tu bang Brand
                        string apiUrl2 = $"https://localhost:7109/api/Brands/get-all-brands";
                        var response2 = await _httpClient.GetAsync(apiUrl2);
                        string apidata2 = await response2.Content.ReadAsStringAsync();
                        var br = JsonConvert.DeserializeObject<List<Brands>>(apidata2);
                        //load du lieu vao dropdownlist
                        <select asp-for="IdBrand" class="form-select">
                            <option selected>Select Brand</option>
                            @foreach (var item in br)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CostPrice" class="control-label"></label>
                    <input asp-for="CostPrice" class="form-control"/>
                    <span asp-validation-for="CostPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SellPrice" class="control-label"></label>
                    <input asp-for="SellPrice" class="form-control"/>
                    <span asp-validation-for="SellPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AvailableQuantity" class="control-label"></label>
                    <input asp-for="AvailableQuantity" class="form-control"/>
                    <span asp-validation-for="AvailableQuantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-select">
                        <option selected>Select Brand</option>
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="IdSale" class="control-label">Sale Name</label>
                    @{
                        //lay du lieu sale
                        string apiUrl3 = $"https://localhost:7109/api/Sales/Show-Sales";
                        var response3 = await _httpClient.GetAsync(apiUrl3);
                        string apidata3 = await response3.Content.ReadAsStringAsync();
                        var sl = JsonConvert.DeserializeObject<List<Sales>>(apidata3);
                        //load du lieu vao dropdownlist
                        <select asp-for="IdSale" class="form-select">
                            <option selected>Select Sale</option>
                            @foreach (var item in sl)
                            {
                                <option value="@item.Id">@item.SaleName</option>
                            }
                        </select>
                    }
                </div>
                @* <div class="form-group mt-3"> *@
                @*     @{ *@
                @*         //Lay size san pham cung ten chua co + size dang o day *@
                @*     } *@
                @*     <label class="control-label">Size : </label> *@
                @*     <select> *@
                @*         @foreach (var item in sizes) *@
                @*         { *@
                @*             <option value="@item.Id">@item.SizeNumber</option> *@
                @*         } *@
                @*     </select> *@
                @* </div> *@
                @* <div class="form-group mt-3"> *@
                @*     @{ *@
                @*         //Lay size san pham cung ten chua co + size dang o day *@
                @*     } *@
                @*     <label class="control-label">Color : </label> *@
                @*     <select > *@
                @*         @foreach (var item in colors) *@
                @*         { *@
                @*             <option value="@item.Id">@item.ColorName</option> *@
                @*         } *@
                @*     </select> *@
                @* </div> *@
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
                <input type="button" value="Clear Form" class="btn btn-danger" onclick="clearForm()"/>
            </div>
        </form>
    </div>
</div>
<script>
    function clearForm() {
        document.getElementById("form").reset();
    }
</script>