@model Data.Models.Sales

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sales</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { Id = Model.Id }) |
    <a asp-action="Show">Back to List</a>
</div>
