@model IEnumerable<Data.Models.Sizes>
@{

    ViewData["Title"] = "ShowSize";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (Model.Count() == 0)
{
    <h1>No size in here <a asp-action="CreateSize" >Create New</a> now ?</h1>
}
else
{
    <h1>Manager Size</h1>

    <p>
        <a asp-action="CreateSize" >Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SizeNumber)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SizeNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateSize", new { id = item.Id }) |
                    @Html.ActionLink("Details", "DetailSize", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteSize", new { id = item.Id })
                </td>
            </tr>
        }
        </tbody>
    </table>
}
