@model IEnumerable<Data.Models.Categories>

@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (Model.Count() == 0)
{
    <h1> No categories in here Please<p><a asp-action="Create">Create Now ! </a></p> </h1>
}
else
{
<h1>Show</h1>
    <p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new {id=item.Id }) |
                @Html.ActionLink("Details", "Detail", new {id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

}
