@using Data.Models;
@using Newtonsoft.Json;
@model Data.Models.Users

@{
    ViewData["Title"] = "Details";
    HttpClient _httpClient = new HttpClient();
    string apiUrl = "https://localhost:7109/api/Role/get-all-role";
    var response = await _httpClient.GetAsync(apiUrl);
    string apidata = await response.Content.ReadAsStringAsync();
    var roles = JsonConvert.DeserializeObject<List<Roles>>(apidata);
    ViewData["lstrole"] = new SelectList(roles, "Id", "RoleName");
    var x = "**************";
}

<h1>Details</h1>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
          @x
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>
        <dd class = "col-sm-10">
            @x
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @x
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fullname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        <dd class = "col-sm-10">
            @foreach (var role in ViewData["lstrole"] as SelectList)
            {
                if (role.Value == Model.IdRole.ToString())
                {
                    @role.Text
                    ;
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Show">Back to List</a>
</div>
