@model Data.Models.Descriptions

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>Descriptions</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdShoeDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdShoeDetail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Show">Back to List</a>
</div>